<!-- {{yield}} -->



<h2 {{action "redirect" title}}>hello {{title}}</h2>

<h3>{{people}}</h3>

<ul>
  <!-- {{#each people as |person|}}
    <li {{action "redirect" }}>{{person}}</li>
  {{/each}} -->
</ul>

<h3 {{action "initMap"}}>Let's load a map!</h3>
 <div id="map">hello!</div>
