<!-- {{yield}} -->

<div class="container">

<h2 {{action "redirect" title}}>hello {{title}}</h2>

<h3>{{people}}</h3>

<ul>
  <!-- {{#each people as |person|}}
    <li {{action "redirect" }}>{{person}}</li>
  {{/each}} -->
</ul>

<button type="button" class="btn btn-success btn-lg"{{action "initMap"}}>Let's find a trail to go run!</button>
 <div id="map"></div>


</div>
