{{outlet}}
<div class="jumbotron indexbackground">

   <div class="container">

    <h1 class="text-center maintitle">Trail Run Guide</h1>
<!--
   {{example-component title="Top Websites"   people=model}}


  {{data.attributes.last-name}}
  <br/>
  {{goat.data.lastName}}
  {{model.goat.lastName}}

  {{model.data.firstName}}
  <br/>

  {{model.data.attributes.firstName}} -->

  <!-- <h3>Follow me on:</h3>
  <a href="https://www.strava.com/athletes/7883171"><img src="images/btn_strava_connectwith_orange.png"/></a> -->


    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9">
        {{chat-bot response=model title="Say hello to Trail Chat Tom!" action="chatWithBot" }}


      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 text-center">

        <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/7883171/latest-rides/aa392ae680ec42ebe02368a79288393b0c3dd108'>
        </iframe>
      </div>
    </div>



  </div>
</div>
